<div class="container h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto">
            <div class="text-center">
                <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">


                    <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">enter</button>
                </form>
                <!-- /form -->
            </div>
        </div>
    </div>
</div>